@media (max-width: 1024px) {
    .width-max{
        max-width: 1024;
    }
    #topbar {
        padding: 0 2rem;
        height: 48px;
        width: 990px;
    }
    #LandingSection {
        padding: 3.5rem 1.5rem;
        height: auto;
        width: 990px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #landingSectionLeftPart div:nth-child(1),
    #landingSectionLeftPart div:nth-child(4) {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #landingSectionRightPart {
        margin-top: 3rem;
        width: 70%;
    }
    #landingSectionRightPart img {
        width: 100%;
    }
    #TeamsSection {
        padding: 2rem 1.5rem;
        width: 990px;
    }
    #TeamsSection div {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    #TeamsSection div div {
        padding: 15px 15px;
    }
    .PageContainer {
        padding: 4rem 5rem;
    }
    .PagePaddingWidth{
        padding: 4rem 1.5rem;
        width: 950px;
    }
    #Features div div{
        width: 300px; 
    }
    .table {
        width: 75%;
        overflow-x: auto;
    }
    #SurveySection {
        padding: 4rem 5rem;
        flex-wrap: wrap;
    }
    /* #SurveySection div {
        flex: 1 1 50%;
        margin-bottom: 2rem;
    } */
    #innerPricingContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .PricingPack{
        width: 220px;
    }
    #innerNimbusContainer {
        flex-wrap: wrap;
        height: auto;
    }
    .CornerImages, .middleImage {
        width: 45%;
        height: auto;
        object-fit: cover;
    }
    #ReadytogetTeam {
        padding: 5rem 5rem;
    }
    footer {
        padding: 4rem 5rem;
    }
    #footerlinkscontainer {
        flex-wrap: wrap;
        height: auto;
        gap: 3rem;
    }
}

@media (max-width: 768px) {
    .width-max{
        max-width: 768px;
    }
    #topbar {
        padding: 0 1rem;
        height: 42px;
        width: 700px;
    }
    #barmenu{
        display: block;
    }
    #naviagtionTabs{
        display: none;
    }
    #actionButtons{
        display: none;
    }
    #LandingSection {
        padding: 2rem 1rem;
         width: 700px;
    }
    #landingSectionLeftPart div:nth-child(2) {
        font-size: 20px;
    }
    #landingSectionLeftPart div:nth-child(3) pre {
        white-space: pre-wrap;
        font-size: 16px;
    }
    #TeamsSection {
        padding: 1.5rem 1rem;
        width: 700px;
    }
    #TeamsSection div{
        gap:0px
    }
    .PageContainer {
        padding: 3rem 2rem;
    }
    .PagePaddingWidth{
        padding: 3rem 1.5rem;
        width: 700px;
    }
    #Features div {
        grid-template-columns: repeat(2, 1fr);
    } 
    #Features div div{
        width: 340px; 
    }
    #WhySection{
        width: 600px;
    }
    .table {
        width: 100%;
        display: block;
    }
    #SurveySection {
        padding: 3rem 2rem;
    }
    #alltestimonials {
        flex-direction: column;
        align-items: center;
    }
    .CompleteTestimonial {
        width: 100%;
        box-sizing: border-box;
    }
    /* #innerPricingContainer {
        flex-direction: column;
        align-items: center;
    } */
    #PopularPricingPack #PopularBanner {
        right: 20px;
    }
    .PricingPack {
        width: 300px;
        box-sizing: border-box;
    }
    .CornerImages, .middleImage {
        width: 100%;
    }
    #FAQcontainer {
        width: 100%;
        height: auto;
    }
    #getteamcontainer {
        height: auto;
        padding: 2rem 0;
        overflow: hidden;
    }
    #innergetteamcontainer {
        top: 0;
        padding: 0 1rem;
    }
    .getteamparagraphcontainer p {
        width: 100%;
    }
    .getteambuttonscontainer {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 1rem;
        margin-top: 1rem;
    }
    #ReadytogetTeam {
        padding: 3rem 2rem;
    }
    footer {
        padding: 3rem 2rem 1rem 2rem;
    }
    .footerlinkHead {
        padding-right: 0;
        justify-content: center;
    }
    .linkcontainer form {
        display: none;
    }
    #footerprofilelinks{
        margin-top:2rem;
    }
    #innerFooterprofilelinks {
        /* flex-direction: column;
        gap: 1rem; */
        padding-top:1rem;
    }
}

@media (max-width: 480px) {
    #topbar {
        height: 36px;
        width: 350px;
    }
    #LandingSection {
        padding: 1.5rem 0.5rem;
        width: 350px;
    }
    #landingSectionRightPart{
        width: 100%;
        margin-top: 1.5rem;
    }
    #TeamsSection div{
        gap:20px
    }
    .PageContainer {
        padding: 2rem 1rem;
    }
    .PagePaddingWidth{
        padding: 2rem 1rem;
        width: 360px;
    }
    #TeamsSection {
        padding: 1.5rem 1rem;
        width: 350px;
    }
    #Features div {
        grid-template-columns: 1fr;
    } 
    #Features div div{
        width: auto;
    }
    #WhySection{
        width: 350px;
    }
    #SurveySection {
        padding: 1.5rem 1rem;
        gap: 12px;
    }
    #SurveySection div p:nth-child(1){
        font-size: 24px;
    }
    #SurveySection div p:nth-child(2){
        font-size: 9px;
    }
    .comparison-table th,
    .comparison-table td {
        padding: 12px 10px;
    }
    /* #SurveySection div {
        flex: 1 1 100%;
    } */
    #ReadytogetTeam {
        padding: 2rem 1rem;
    }
    footer {
        padding: 2rem 1rem 1rem 1rem;
    }
    #footerlinkscontainer {
        flex-wrap: wrap;
        height: auto;
        gap: 2rem 6rem;
    }
    #profileIcons .icon{
        width: 18px;
        height: 18px;
        padding: 0;
    }
}
