#authContainer{
    display: flex;
    height: 987px;
    padding: 48px 32px 47px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}

#formPart{
    display: flex;
    width: 479.5px;
    justify-content: center;
    align-items: flex-start;
}

#innerformpart{
    display: flex;
    width: 448px;
    max-width: 448px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

#formheading{
    color: #101828;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.75px;
    padding-top: 24px;
}

#formtagline{
    color: #6A7282;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    padding-top: 8px;
}

#innerformpart form{
    display: flex;
    width: 448px;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.formInputContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.formInputContainer p {
    color: #101828;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.formInputContainer input, .formInputContainer select{
    width: 418px;
    height: 36px;
    padding: 4px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: #FFF;
}

.formInputContainer select{
    width: 436px;
}

#IntroPart{
    display: flex;
    width: 479.5px;
    height: 891px;
    padding: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}